<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/styles.css">
  <title>about</title>

</head>

<body>
  <div class="main-content">
    {{>header}}

    <img src="./img/me.jpg" alt="legend" class="img1">
    <h3>About the developer</h3>
    <p>{{creator}} is a tech enthusiast and an experienced Product Consultant with a demonstrated history of working in the information technology and SaaS industry. Strong product management professional with a Bachelor’s Degree focused in Computer Software Engineering. </p>
    
  </div>


  {{>footer}}
</body>



</html>