<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/styles.css">
  <title>help</title>

</head>

<body>
  <div class="main-content">
    {{>header}}
    <img src="./img/weather.gif" alt="legend" class="img1">
    <p>No help available</p>
  </div>


  {{>footer}}
</body>



</html>