
 
<header>
   <h1>Weather Check !</h1>
    <nav>
    <a href="/" class="aj"><h2>Weather</h2></a>
    <a href="/about" class="aj"><h2>About</h2></a>
    <a href="/help" class="aj"><h2>Help</h2></a>
    </nav>
</header>